@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.header {
  background-color: #f7fbff;
  color: #649fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  top: 0;
  left: 0;
}

.header h3 {
  text-transform: uppercase;
  text-align: center;
}

.header .btn {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  background-color: #649fff;
  color: #fff;
  border: 2px solid #2f7cf8;
  cursor: pointer;
}

.header .btn:hover {
  background-color: #2f7cf8;
  border: none;
}

.header .btn:focus {
  outline: 0;
}

.header .btn:active {
  scale: 0.95;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  gap: 10px;
  width: 200px;
}

.header img {
  width: 150px;
  height: 100px;
}

.active-login {
  background: rgb(100, 159, 255);
  background: linear-gradient(
    180deg,
    rgba(100, 159, 255, 1) 20%,
    rgba(47, 124, 248, 1) 75%
  );
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25), 0 18.8rem 5.2rem rgba(0, 0, 0, 0.01), 0 12.0rem 4.8rem rgba(0, 0, 0, 0.04), 0 6.8rem 4.1rem rgba(0, 0, 0, 0.15), 0 3.0rem 3.0rem rgba(0, 0, 0, 0.26), 0 .8rem 1.7rem rgba(0, 0, 0, 0.29), inset 0 .6rem .8rem rgba(255, 255, 255, 0.1), inset 0 -.4rem .5rem rgba(0, 0, 0, 0.22);
  border-radius: 30px;
  position: absolute;
  top: 130px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.active-login p {
    color: #fff;
    width: 150px;
    font-size: 12px;
    margin-top: 15px;
}

.active-login a {
    text-decoration: none;
    color: #8202cc;
}

.active-login a:hover {
    color: white;
}

.active-login input:focus {
    outline: 0;
}

.hidden {
    display: none;
}